---
import Layout from "@/layouts/Layout.astro";
import ChatContainer from "@/components/ChatContainer";
---


<Layout page="Chat-Page" title="Chat-Page">
    <div>
        <ChatContainer client:visible />
    </div>
</Layout>

<style>
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
</style>