---
import Layout from '@/layouts/Layout.astro';
import Counter from '@/components/Counter';
---
<Layout title="Home" page='home'>
	<h1 transition:name="title">Hola mundo</h1>
	<Counter client:load transition:persist transition:name="counter"/>
</Layout>

<style>
	h1 {
		color: red;
		font-size: 150px;
	}
</style>
